html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ffc21c;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-container {
    background-color: white;
    background-size: contain;
    padding: 40px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid black;
}

div#medalhas {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
}

div#medalhas h1 {
    padding: 0;
    margin: 0;
    margin-left: 0px;
    font-size: 50px;
}

div#medalhas h2 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: black;
}

div#medalhas img {
    margin-left: 10px;
    margin-right: 0px;
    padding: 0px;
    max-height: 120px;
}

div#ouro h1 {
    color: #ffc21c;
}

div#prata h1 {
    color: #C0C0C0;
}

div#bronze h1 {
    color: #CD7F32;
}

.timers {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.timers div {
    width: 100%;
}

header {
    white-space: nowrap;
    width: 100%;
    color: white;
    max-width: 804px;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    background-color: black;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 30px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    background-color: white;
    margin-top: 0px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border: 2px solid black;
    border-bottom: 1px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    max-width: 800px;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
    border: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.background-container {
    margin-top: 50px;
}

img {
    margin-left: 10px;
}